/* Standard File for most common CSS */

@font-face {
  src:url(../fonts/Raleway-Regular.ttf);
  font-family: "Raleway";
}

@import url('https://fonts.googleapis.com/css?family=Lobster');

html, body{
	width: 100%;
	background-color: red;
}

section{
	height: 100%;
}

h1, h2, h3 {
  font-family: "Lobster";
}

p {
  font-family: "Raleway";
}

#home {
  height: 100%;
}

#home {
	height: 100%;
}

#tickets {
	height: 100%;
}

#alumni {
	height: 100%;
}

#sponsor {
	height: 100%;
}

#contact {
	height: 100%;
}
